<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{${baseUrl}::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>

    <div class="categoryForm">

        <form th:object="${Category}"
              th:action="@{/category}"
              method="post"
              enctype="multipart/form-data">


            <div class="position-relative">
                <!--<div th:if="${Page==1}" class="position-absolute top-0 start-50 translate-middle">
                    <h1>Add Contact</h1>
                </div>
                <div th:if="${Page==0}" class="position-absolute top-0 start-50 translate-middle">
                    <h1>Edit Contact</h1>
                </div>-->
                <h1 class="test-center" id="contact-header">Add New Category</h1>
                <div class="position-absolute top-100 start-50 translate-middle" style="transform: translate(-50%, +5%) !important; width:60%">
                    <div class="container">

                        <div class="row align-items-center">
                            <div class="col">
                                <div class="mb-3">
                                    <label for="exampleInputName" class="form-label"><i class="fas fa-user" style="margin:5px"></i>Name</label>
                                    <input
                                            type="text"
                                            name="name"
                                            th:value="${Category.name}"
                                            class="form-control"
                                            id="exampleInputName"
                                            aria-describedby="emailHelp"
                                            placeholder="Enter contact name">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                   <textarea
                                           name="description"
                                           th:text="${Category.description}"
                                           id="descriptionid"
                                           placeholder="Enter something about the contact"
                                           rows="5"
                                   ></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col">
                                <div class="custom-file">
                                    <input type="file"
                                           name="profileImage">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="position-absolute top-100 start-50 translate-middle" style="transform: translate(-50%, +700%) !important;">
                    <button type="submit" class="btn btn-primary">Add +</button>
                </div>
            </div>
        </form>
    </div>
</section>
</body>
</html>