<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{${baseUrl}::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>

    <div class="categoryForm">

        <form th:object="${ItemRequest}"
              th:action="@{'/category/'+${cid}+'/product/'+${pid}+'/item'}"
              method="post"
              enctype="multipart/form-data">


            <div class="position-relative">

                <h1 class="test-center" id="contact-header">Add New Product Item</h1>
                <div class="position-absolute top-100 start-50 translate-middle" style="transform: translate(-50%, +5%) !important; width:60%">
                    <div class="container">

                        <div class="row align-items-center">
                            <div class="col">
                                <div class="mb-3">
                                    <label for="exampleInputName" class="form-label"><i class="fas fa-user" style="margin:5px"></i>Name</label>
                                    <input
                                            type="text"
                                            name="name"
                                            th:value="${ItemRequest.name}"
                                            class="form-control"
                                            id="exampleInputName"
                                            aria-describedby="emailHelp"
                                            placeholder="Enter contact name">
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-3">
                                    <label for="exampleInputOffer" class="form-label"><i class="fas fa-user" style="margin:5px"></i>Offer</label>
                                    <input
                                            type="text"
                                            name="offer"
                                            th:value="${ItemRequest.offer}"
                                            class="form-control"
                                            id="exampleInputOffer"
                                            aria-describedby="emailHelp"
                                            placeholder="Enter contact name">
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col">
                                <div class="mb-3">
                                    <label for="exampleInputPrice" class="form-label"><i class="fas fa-user" style="margin:5px"></i>Price</label>
                                    <input
                                            type="text"
                                            name="price"
                                            th:value="${ItemRequest.price}"
                                            class="form-control"
                                            id="exampleInputPrice"
                                            aria-describedby="emailHelp"
                                            placeholder="Enter contact name">
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-3">
                                    <label for="exampleInputQuantity" class="form-label"><i class="fas fa-user" style="margin:5px"></i>Quantity</label>
                                    <input
                                            type="text"
                                            name="quantity"
                                            th:value="${ItemRequest.quantity}"
                                            class="form-control"
                                            id="exampleInputQuantity"
                                            aria-describedby="emailHelp"
                                            placeholder="Enter contact name">
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col">
                                <div class="form-group">
                                    <input list="brow"
                                           name="brand_name"
                                           th:value="${ItemRequest.brand_name}"
                                           class="form-control"
                                           id="exampleInputBrand"
                                           aria-describedby="emailHelp"
                                           placeholder="Enter brand name">
                                    <datalist id="brow">
                                        <option th:each="brand : ${brands}" th:value="${brand.brand_name}"></option>
                                    </datalist>
                                </div>
                            </div>

                            <div class="col">
                                <div class="form-group">
                                    <!--............-->
                                    <div class="Click-here" style="height:40px;width:60px;margin:0px;padding:10px;">ADD</div>
                                    <div class="custom-model-main" style="height:400px;background-color:#0E7470;">
                                        <div class="custom-model-inner">
                                            <div class="close-btn">×</div>
                                            <div class="custom-model-wrap" style="background-color:#8DBDB9;">
                                                <div class="pop-up-content-wrap">
                                                    <div id="innerFormContent">
                                                        <h2 style="color:black;">Add New Brand</h2>
                                                        <input type="hidden" id="cid" name="cid" th:value="${cid}" />
                                                        <div>
                                                            <label for="brandName" style="display:flex;color:black;">Brand Name:</label>
                                                            <input type="text" id="brandName" name="brand_name">
                                                        </div>

                                                        <!-- Description -->
                                                        <div>
                                                            <label for="description" style="display:flex;color:black;">Description:</label>
                                                            <textarea id="description" name="description" rows="4" cols="50"></textarea>
                                                        </div>

                                                        <div>
                                                            <label for="brandLogo" style="display:flex;color:black;">Upload File:</label>
                                                            <input type="file" id="brandLogo" name="brand_Logo">
                                                        </div>

                                                        <!-- Button to Submit Inner Form -->
                                                        <button type="button" onclick="addNewBrand(this)" id="submitInnerForm" style="margin-left:40%;background-color:#008CBA;width:60px;color:white;">Add</button>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                    </div>
                                    <!--<a href="#" th:href="@{'/category/'+${cid}+'/brand'}" class="btn btn-secondary" style="margin-top: 10px; display: inline-block;"><i class="fas fa-eye" style="margin-right: 5px;"></i></a>-->
                                    </div>
                                </div>
                            </div>


                            <div class="col" style="margin:6px;">
                                <div class="form-group">
                                   <textarea
                                           name="description"
                                           th:text="${ItemRequest.description}"
                                           id="descriptionid"
                                           placeholder="Enter something about the contact"
                                           rows="5"
                                   ></textarea>
                                </div>
                            </div>
                        <div class="row align-items-center">
                            <div class="col">
                                <div class="custom-file">
                                    <input type="file"
                                           name="profileImage">
                                </div>
                            </div>
                        </div>
                        </div>

                    </div>
                <div class="position-absolute top-100 start-50 translate-middle" style="transform: translate(-50%, +999%) !important;">
                    <button type="submit" class="btn btn-primary">Add +</button>
                </div>
            </div>
        </form>
    </div>
</section>
</body>
</html>