<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section class="banner">
    <div class="container" id="home">
        <h1>ShopMart</h1>
        <p>  buying and selling of goods and services over an electronic network,
            primarily the internet. The objective of ecommerce includes improving customer service,
            building more customer base and development of business relationship</p>
        <a class="btn btn-secondary btn-lg" type="submit">Get Start</a>
    </div>
</section>
</body>
</html>